<script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="Scripts/app.js"></script>
<link rel='stylesheet' href='/Content/footer.css' />
<footer>
    <div class="finfo">
    <div class="flogo"><img src="images/1.png"></div>
    <div class="content-wrap">
        <nav class="fnav">
        <a href="">About Me</a>
        <a href=""> Projects</a>
        <a href="">Contact Me</a>
    </nav>
  
        <h5>&copy NashStudios 2016</h5>
    </div>
    </div>
</footer>

</body>

