<link href="https://fonts.googleapis.com/css?family=Kalam|Lobster" rel="stylesheet">
<link rel='stylesheet' href='/Content/header.css' />
<header>
    <div class="logo"><img src="images/1.png"></div>
    <nav class="hnav">
        <a href="">About Me</a>
        <a href=""> Projects</a>
        <a href="">Contact Me</a>
    </nav>
    <h1><span class="hblock">Bienvenue Everyone</span></h1>
    <h2 class="subtitle">
        I'm Nashia Amourdon
        </br>
        Passionate Bilingual Web Developer
    </h2>

   

</header>