<!--Loads the About me page
Nashia Amourdon
 -->
<% include partials/header.ejs%>
<body>
<!--MAIN CONTENT-->
    <main class="container">
        <h1><%= title %></h1>
        <div class="jumbotron">
            <h3> Nature gave us qualities, it is our goal to develop them...
            <p>
                I will be graduating from Centennial College in April with an Advanced Diploma in 
                Software Engineering Technology. 
                Designing and Web Development are my passion.
                I cannot wait to get into the work field and become a professional Web Developer.
                </p>
            <img src="images/aboutme.jpg" alt="" class="img-rounded">
            </h3>
            </div>
          

    </main>
</body>
    <% include partials/footer.ejs%>