<!--Loads the contact page
Nashia Amourdon -->
<% include partials/header.ejs%>
<body>
<!--MAIN CONTENT-->
    <main class="container">
<div >
        <h1><%= title %></h1>
        <h2>Let's Connect</h2>
            <div class="jumbotron">
            <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Message</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" placeholder="Write Message">
          </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn" id="submit">Send Invitation</button>
    </div>
  </div>
  </form>
            </form>
            <script>
                $(document).ready(function(){
    var from,to,text;
    $("#submit").click(function(){      
        to=$("#to").val();
        subject=$("#subject").val();
        text=$("#content").val();
        $("#message").text("Sending E-mail...Please wait");
        $.get("http://localhost:3000/send",{to:to,subject:subject,text:text},function(data){
        if(data=="sent")
        {
            $("#message").empty().html("Email is been sent at "+to+" . Please check inbox !");
        }

});
    });
});
                </script>
    </main>
    
<% include partials/footer.ejs%>
   