<!--Loads the projects page 
Nashia Amourdon-->
<% include partials/header.ejs%>
<body>
<!--MAIN CONTENT-->
    <main class="container">
        <h1><%= title %></h1>
        <h2>These projects are all deployed on Azure and using continous deployment from GitHub</h2>
        <div class="jumbotron">
            <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/webg.png" alt="...">
      <div class="caption">
        <h3>Princesses Adventures</h3>
        <p>This Assignment uses TypeScript For Web Game Programming </p>
        <p> <a href="http://webgane-ass1-nash.azurewebsites.net/" class="btn" role="button">View Demo</a></p>
      </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/Adv.png" alt="...">
      <div class="caption">
        <h3>Humainoid Character</h3>
        <p>Uses Three.js, JavaScript and TypeScript.
            Advanced Graphics</p>
        <p> <a href="http://assignment1-nash.azurewebsites.net/" class="btn" role="button">View Demo</a></p>
      </div>
    </div>
    </div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/SampleLab.png" alt="...">
      <div class="caption">
        <h3>Using Gulp</h3>
        <p>Gulp automatic that synchronized all the changes from the file at once.
            Assignment Advanced Graphics
        </p>
        <p> <a href="http://comp392-lab3-nash.azurewebsites.net/" class="btn" role="button">View Demo</a></p>
      </div>
    </div>
  </div>
  

  </div>
    </main>
</body>
<% include partials/footer.ejs%>