<!--Loads the service page 
Nashia Amourdon-->
<% include partials/header.ejs%>
<body>
<!--MAIN CONTENT-->
    <main class="container">
        <h1><%= title %></h1>
       <div class="jumbotron">
          <div class="media">
  <div class="media-left">
 
      <img class="media-object" src="images/web.jpg" alt="...">
 
  </div>
  <div class="media-body">
    <h4 class="media-heading">WEB DEVELOPMENT</h4>
   A custom-crafted web page that will improve and make you reach your business goals. 
  </div>
</div>
       </div>
    </main>
</body>
<% include partials/footer.ejs%>